.app-header{
    box-shadow: 0px 0px 1px 1px rgba(46, 46, 46, 0.135);
}


.card-header{
    background-color: rgb(232, 232, 232);
}

.no-footer , table.dataTable thead th{
    border-bottom: transparent !important;
}

select[name="miTabla_length"] {
   border-radius: 5px;
   height: 1.9rem;
   font-size: 0.8rem;
   margin-bottom: 10px;
}


#auto-resize-textarea {
    overflow: hidden;
    resize: none;
    /* Para evitar que el usuario cambie manualmente el tamaño */
}